/* Start General Rules */
:root {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}

.middle-line {
  position: relative;
  margin-bottom: 40px;
}
.middle-line:before {
  content: "";
  position: absolute;
  width: 55px;
  top: 50px;
  left: calc(50% - 27.5px);
  background-color: #3f73ac;
  height: 3px;
}

a:hover {
  text-decoration: none;
}

/* End General Rules */
/* Start Upper Navbar Section */
.upper {
  padding: 20px;
}
.upper .dates {
  font-size: 1.1rem;
}
.upper .dates i {
  color: #07AC89;
  margin-right: 10px;
  font-size: 24px;
}
.upper .register-btns li {
  display: inline-block;
  margin-left: 10px;
  transition: all 0.5s ease-in-out;
}
.upper .register-btns li a {
  font-size: 1rem;
  background-color: #07AC89;
  color: #fff;
  padding: 2px 18px;
  border-radius: 30px;
}
.upper .register-btns li:hover a {
  background-color: #07AC89;
  color: #fff;
  border: 1px solid #07AC89;
}
.upper .register-btns .active a {
  background-color: #fff;
  color: #07AC89;
  border: 1px solid #07AC89;
}
@media (max-width: 767px) {
  .upper .dates, .upper .register-btns {
    display: block;
    text-align: center;
  }
  .upper .dates {
    margin-bottom: 20px;
  }
}

/* End Upper Navbar Section */
/* Start navbar section */
.navbar {
  background: transparent;
  border: none;
  padding-top: 10px;
}
.navbar .navbar-header .navbar-brand img {
  width: 200px;
  margin: -14px auto 0;
}
.navbar .navbar-collapse {
  padding-top: 10px;
}
.navbar .navbar-collapse .navbar-nav li a {
  color: #fff;
  font-size: 18px;
}
.navbar .navbar-collapse .navbar-nav li a:hover, .navbar .navbar-collapse .navbar-nav li a:focus {
  color: #fff;
  background-color: #07AC89;
}
.navbar .navbar-collapse .navbar-nav .dropdown > li > a {
  color: #07AC89;
}

/* end navbar section */
/* Start Loading Page */
/*
.spinner-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $sub-color;
    z-index: 9999;
    .spinner {
        width: 60px;
        height: 60px;
        position: relative;
        margin: 100px auto;
        top: 35%;
        left: 0;
        transform: translate(0 , -50%);
        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $main-color;
            opacity: 0.6;
            position: absolute;
            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }
        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
          }
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
/* End Loading Page */
/* Start Header Section */
header {
  position: relative;
  overflow: hidden;
  min-height: 660px;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
header .overlay .header-content {
  color: #fff;
}
header .overlay .header-content h1 {
  margin-top: 70px;
  font-size: 60px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  header .overlay .header-content h1 {
    font-size: 25px;
  }
}
header .overlay .header-content h1 span {
  color: #3f73ac;
}
header .overlay .header-content a {
  display: inline-block;
  width: 200px;
  background-color: #3f73ac;
  color: #fff;
  padding: 10px;
  border: 1px solid #3f73ac;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
header .overlay .header-content a:hover {
  text-decoration: none;
  background-color: #3f73ac;
}
header .overlay .header-content form {
  width: 500px;
  background-color: #07AC89;
  padding: 30px 20px;
  border-radius: 3px;
}
header .overlay .header-content form input, header .overlay .header-content form select {
  margin-bottom: 20px;
  padding: 10px;
  color: #000;
  display: block;
  width: 100%;
  border-radius: 3px;
}
header .overlay .header-content form input[type=submit] {
  background: #3f73ac;
  border: 1px solid #3f73ac;
  color: #fff;
}
header .overlay .header-content form img {
  width: 200px;
}
@media (max-width: 767px) {
  header .overlay .header-content form {
    width: 100%;
  }
}
header .fullBackground {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
header .fa-chevron-down {
  color: #fff;
  position: absolute;
  bottom: 5%;
  transform: translate(-50%);
  border: 2px solid #fff;
  width: 30px;
  height: 50px;
  line-height: 50px;
  border-radius: 17px;
  left: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
header .fa-chevron-down:hover {
  background-color: #3f73ac;
  border: 2px solid #3f73ac;
}

/* End Header Section */
/* Start services section */
.services {
  padding: 20px;
}
.services a {
  background: linear-gradient(to right, #3f73ac, #07AC89);
  display: block;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
}
@media (max-width: 767px) {
  .services a {
    margin-bottom: 20px;
  }
}

/* End services section */
/* Start Our Events Section */
.events {
  padding: 40px 0;
}
.events h2 {
  font-size: 1.9rem;
  margin-bottom: 30px;
}
.events .links {
  margin-bottom: 30px;
}
.events .links li {
  display: inline-block;
  margin-right: 5px;
}
.events .links li a {
  background: transparent;
  color: #07AC89;
  padding: 5px 15px;
  border-radius: 3px;
  border: 1px solid #07AC89;
}
.events .links .active a {
  color: #fff;
  background-color: #07AC89;
  border: 1px solid #07AC89;
}
.events .eve-box {
  margin-bottom: 20px;
}
.events .eve-box img {
  width: 100%;
}
.events .eve-box ul {
  margin: 20px 0;
}
.events .eve-box ul li {
  display: inline-block;
  margin-right: 0px;
}
.events .eve-box ul li:not(:last-of-type) a {
  border-right: 1px solid #000;
  padding: 0 6px 0 0;
}
.events .eve-box ul .active a {
  color: #999;
}
.events .eve-box h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.events .eve-box p {
  line-height: 1.6;
  color: #777;
}
.events .eve-box a.read-more {
  display: block;
  text-align: center;
  background: linear-gradient(to right, #3f73ac, #07AC89);
  padding: 7px;
  color: #fff;
}
.events .latest {
  margin: 30px 0;
}
.events .latest h3 {
  background: #3f73ac;
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}
.events .latest .media {
  background-color: #eee;
  padding: 5px;
  border-bottom: 2px dotted #3f73ac;
  margin-top: 0;
}
.events .latest .media .media-left a img {
  width: 60px;
  border-radius: 50%;
  margin-right: 5px;
}
.events .latest .media .media-body .media-heading {
  margin-top: 10px;
}
.events .latest .media .media-body span {
  color: #07AC89;
}
.events .subscribe {
  display: block;
  margin: 30px 0;
  background-color: #3f73ac;
  padding: 20px;
  color: #fff;
  border-radius: 3px;
}

/* End Our Events Section */
/* Start Upper Footer Section */
.upper-footer {
  background: linear-gradient(to right, #3f73ac, #07AC89);
  padding: 30px 0;
  color: #fff;
}
.upper-footer .foot-img img {
  width: 75%;
  margin: auto;
}
.upper-footer .foot-links h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
.upper-footer .foot-links ul li {
  display: block;
  margin-bottom: 10px;
}
.upper-footer .foot-links ul li a {
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.upper-footer .foot-links ul li:hover a {
  padding-left: 10px;
}
.upper-footer .foot-links .social li a {
  margin-left: 10px;
}
.upper-footer form h4 {
  text-transform: uppercase;
  font-size: 22px;
}
.upper-footer form input, .upper-footer form select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  color: #999;
  margin-bottom: 10px;
}
.upper-footer form input[type=submit] {
  background: #3f73ac;
  color: #fff;
  border: 1px solid #3f73ac;
}
@media (max-width: 767px) {
  .upper-footer .col-md-2 > div {
    margin-bottom: 30px;
  }
  .upper-footer .foot-img {
    text-align: center;
  }
}

/* End Upper Footer Section */
/* Footer Copyrights */
footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  font-size: 20px;
}
footer span {
  color: #3f73ac;
}

/*# sourceMappingURL=style.css.map */
